<table border="1">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>shopname</th>
    <th>company</th>
    <th>postalcode</th>
    <th>location</th>
    <th>tel</th>
    <th>fax</th>
    <th>email</th>
  </tr>
  <% @imports.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.shopname %></td>
    <td><%= product.company %></td>
    <td><%= product.postalcode %></td>
    <td><%= product.location %></td>
    <td><%= product.tel %></td>
    <td><%= product.fax %></td>
    <td><%= product.email %></td>
  </tr>
  <% end %>
</table>
